<ul>
    <li><a href="{{ urlFor('home') }}">Hem</a></li>
    <li><a href="#bild">Bild</a></li>
    <li><a href="{{ urlFor('video') }}">Youtube</a></li>
    <li><a href="{{ urlFor('about') }}">about</a></li>
</ul>