<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Webbsida | {%  block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.css">
        <link href="/vendor/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
	<nav>
		{% include 'templates/shared/nav.twig' %}
	</nav>
		<header>
			{% include 'templates/shared/header.twig' %}
		</header>
		<main>
		    {% block content %}{% endblock %}
		</main>
		<footer>
			{% include 'templates/shared/footer.twig' %}
		</footer>

    <script src="/vendor/components/jquery/jquery.min.js"></script>
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>